# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.next
out
.turbo
build

# Environment
.env
.env.local
.env.*.local
*.pem

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea

# Test output
coverage
*.snap

# Turbo
.turbo

# Prisma
prisma/migrations/*.sql.bak
